body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u5891 {
  position:absolute;
  left:80px;
  top:114px;
  width:320px;
  height:19px;
}
#u5892 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5893 {
  position:absolute;
  left:80px;
  top:133px;
  width:320px;
  height:491px;
}
#u5894 {
  position:absolute;
  left:2px;
  top:238px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5895 {
  position:absolute;
  left:80px;
  top:50px;
  width:100px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5896 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5897 {
  position:absolute;
  left:80px;
  top:133px;
  width:320px;
  height:46px;
}
#u5898 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5899 {
  position:absolute;
  left:86px;
  top:141px;
  width:31px;
  height:30px;
}
#u5900 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  word-wrap:break-word;
}
#u5901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5901 {
  position:absolute;
  left:126px;
  top:141px;
  width:258px;
  height:30px;
}
#u5902 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u5903 {
  position:absolute;
  left:129px;
  top:147px;
  width:15px;
  height:18px;
}
#u5904 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5905 {
  position:absolute;
  left:151px;
  top:148px;
  width:109px;
  height:16px;
  color:#666666;
}
#u5906 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u5907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:233px;
}
#u5907 {
  position:absolute;
  left:80px;
  top:391px;
  width:320px;
  height:233px;
}
#u5908 {
  position:absolute;
  left:2px;
  top:108px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5909 {
  position:absolute;
  left:89px;
  top:246px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u5911 {
  position:absolute;
  left:88px;
  top:265px;
  width:305px;
  height:1px;
}
#u5912 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5913 {
  position:absolute;
  left:92px;
  top:276px;
  width:109px;
  height:16px;
  color:#666666;
}
#u5914 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u5915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5915 {
  position:absolute;
  left:92px;
  top:298px;
  width:109px;
  height:16px;
  color:#666666;
}
#u5916 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u5917_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5917 {
  position:absolute;
  left:90px;
  top:119px;
  width:23px;
  height:30px;
}
#u5918 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5919_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5919 {
  position:absolute;
  left:154px;
  top:119px;
  width:23px;
  height:30px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5921 {
  position:absolute;
  left:165px;
  top:272px;
  width:23px;
  height:30px;
}
#u5922 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5923_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5923 {
  position:absolute;
  left:368px;
  top:556px;
  width:23px;
  height:30px;
}
#u5924 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5925 {
  position:absolute;
  left:510px;
  top:164px;
  width:441px;
  height:250px;
  font-size:16px;
}
#u5926 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  word-wrap:break-word;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5927 {
  position:absolute;
  left:350px;
  top:242px;
  width:43px;
  height:23px;
}
#u5928 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u5929_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5929 {
  position:absolute;
  left:361px;
  top:225px;
  width:23px;
  height:30px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5931_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:70px;
}
#u5931 {
  position:absolute;
  left:412px;
  top:114px;
  width:4px;
  height:65px;
}
#u5932 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5933 {
  position:absolute;
  left:92px;
  top:188px;
  width:123px;
  height:16px;
}
#u5934 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5935 {
  position:absolute;
  left:92px;
  top:215px;
  width:123px;
  height:16px;
}
#u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u5937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u5937 {
  position:absolute;
  left:86px;
  top:210px;
  width:305px;
  height:1px;
}
#u5938 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5939_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5939 {
  position:absolute;
  left:205px;
  top:164px;
  width:23px;
  height:30px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5941_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5941 {
  position:absolute;
  left:207px;
  top:198px;
  width:23px;
  height:30px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5943 {
  position:absolute;
  left:510px;
  top:117px;
  width:155px;
  height:29px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5945 {
  position:absolute;
  left:92px;
  top:320px;
  width:299px;
  height:16px;
  color:#666666;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u5947_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u5947 {
  position:absolute;
  left:287px;
  top:391px;
  width:23px;
  height:30px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5949 {
  position:absolute;
  left:80px;
  top:114px;
  width:375px;
  height:667px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u5951 {
  position:absolute;
  left:270px;
  top:133px;
  width:20px;
  height:27px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u5953_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u5953 {
  position:absolute;
  left:313px;
  top:210px;
  width:20px;
  height:27px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u5955_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u5955 {
  position:absolute;
  left:416px;
  top:256px;
  width:20px;
  height:27px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u5957 {
  position:absolute;
  left:258px;
  top:326px;
  width:20px;
  height:27px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u5959 {
  position:absolute;
  left:258px;
  top:434px;
  width:20px;
  height:27px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:80px;
  top:715px;
  width:320px;
  height:483px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:234px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5963 {
  position:absolute;
  left:80px;
  top:624px;
  width:181px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5964 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  position:absolute;
  left:80px;
  top:715px;
  width:320px;
  height:46px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  position:absolute;
  left:121px;
  top:721px;
  width:266px;
  height:30px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5969 {
  position:absolute;
  left:125px;
  top:726px;
  width:18px;
  height:18px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  position:absolute;
  left:84px;
  top:720px;
  width:31px;
  height:30px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  word-wrap:break-word;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  position:absolute;
  left:185px;
  top:760px;
  width:101px;
  height:37px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u5976 {
  position:absolute;
  left:269px;
  top:776px;
  width:10px;
  height:16px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  position:absolute;
  left:80px;
  top:760px;
  width:105px;
  height:37px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u5981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u5981 {
  position:absolute;
  left:170px;
  top:777px;
  width:11px;
  height:16px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  position:absolute;
  left:286px;
  top:760px;
  width:114px;
  height:37px;
}
#u5985 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u5986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u5986 {
  position:absolute;
  left:381px;
  top:776px;
  width:11px;
  height:16px;
}
#u5987 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5988 {
  position:absolute;
  left:153px;
  top:728px;
  width:109px;
  height:16px;
  color:#666666;
}
#u5989 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5990 {
  position:absolute;
  left:133px;
  top:871px;
  width:228px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u5992 {
  position:absolute;
  left:79px;
  top:696px;
  width:320px;
  height:19px;
}
#u5993 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  position:absolute;
  left:510px;
  top:364px;
  width:155px;
  height:29px;
}
#u5995 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5996 {
  position:absolute;
  left:510px;
  top:414px;
  width:290px;
  height:250px;
  font-size:16px;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:55px;
}
#u5998 {
  position:absolute;
  left:841px;
  top:414px;
  width:265px;
  height:55px;
}
#u5999 {
  position:absolute;
  left:2px;
  top:20px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000 {
  position:absolute;
  left:790px;
  top:445px;
  width:0px;
  height:0px;
}
#u6000_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u6000_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:55px;
  height:8px;
}
#u6000_seg2 {
  position:absolute;
  left:37px;
  top:-13px;
  width:21px;
  height:20px;
}
#u6001 {
  position:absolute;
  left:-26px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
