body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7041 {
  position:absolute;
  left:75px;
  top:118px;
  width:320px;
  height:591px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:288px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7043 {
  position:absolute;
  left:75px;
  top:118px;
  width:320px;
  height:46px;
}
#u7044 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7045 {
  position:absolute;
  left:116px;
  top:124px;
  width:266px;
  height:30px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7047 {
  position:absolute;
  left:120px;
  top:129px;
  width:18px;
  height:18px;
}
#u7048 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7049 {
  position:absolute;
  left:79px;
  top:123px;
  width:31px;
  height:30px;
}
#u7050 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  word-wrap:break-word;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7051 {
  position:absolute;
  left:75px;
  top:210px;
  width:160px;
  height:193px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u7053 {
  position:absolute;
  left:81px;
  top:215px;
  width:150px;
  height:119px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  position:absolute;
  left:83px;
  top:338px;
  width:144px;
  height:26px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u7057 {
  position:absolute;
  left:182px;
  top:361px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7060 {
  position:absolute;
  left:85px;
  top:380px;
  width:87px;
  height:16px;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u7062 {
  position:absolute;
  left:81px;
  top:388px;
  width:92px;
  height:1px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7064 {
  position:absolute;
  left:235px;
  top:210px;
  width:160px;
  height:193px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u7066 {
  position:absolute;
  left:240px;
  top:215px;
  width:150px;
  height:119px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  position:absolute;
  left:243px;
  top:338px;
  width:144px;
  height:26px;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u7070 {
  position:absolute;
  left:342px;
  top:361px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7073 {
  position:absolute;
  left:245px;
  top:380px;
  width:87px;
  height:16px;
}
#u7074 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u7075 {
  position:absolute;
  left:241px;
  top:388px;
  width:92px;
  height:1px;
}
#u7076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7077 {
  position:absolute;
  left:75px;
  top:412px;
  width:160px;
  height:193px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u7079 {
  position:absolute;
  left:81px;
  top:417px;
  width:150px;
  height:119px;
}
#u7080 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7081 {
  position:absolute;
  left:83px;
  top:540px;
  width:144px;
  height:26px;
}
#u7082 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u7083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u7083 {
  position:absolute;
  left:182px;
  top:563px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u7084 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7086 {
  position:absolute;
  left:85px;
  top:582px;
  width:87px;
  height:16px;
}
#u7087 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u7088 {
  position:absolute;
  left:81px;
  top:590px;
  width:92px;
  height:1px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7090 {
  position:absolute;
  left:235px;
  top:412px;
  width:160px;
  height:193px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u7092 {
  position:absolute;
  left:240px;
  top:417px;
  width:150px;
  height:119px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7094 {
  position:absolute;
  left:243px;
  top:540px;
  width:144px;
  height:26px;
}
#u7095 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u7096 {
  position:absolute;
  left:342px;
  top:563px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7099 {
  position:absolute;
  left:245px;
  top:582px;
  width:87px;
  height:16px;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u7101 {
  position:absolute;
  left:241px;
  top:590px;
  width:92px;
  height:1px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7104 {
  position:absolute;
  left:180px;
  top:163px;
  width:101px;
  height:37px;
}
#u7105 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7106 {
  position:absolute;
  left:264px;
  top:179px;
  width:10px;
  height:16px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7109 {
  position:absolute;
  left:75px;
  top:163px;
  width:105px;
  height:37px;
}
#u7110 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u7111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u7111 {
  position:absolute;
  left:165px;
  top:180px;
  width:11px;
  height:16px;
}
#u7112 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7114 {
  position:absolute;
  left:281px;
  top:163px;
  width:114px;
  height:37px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u7116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u7116 {
  position:absolute;
  left:376px;
  top:179px;
  width:11px;
  height:16px;
}
#u7117 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u7118 {
  position:absolute;
  left:264px;
  top:179px;
  width:11px;
  height:16px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7120 {
  position:absolute;
  left:148px;
  top:131px;
  width:109px;
  height:16px;
  color:#666666;
}
#u7121 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u7122_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u7122 {
  position:absolute;
  left:248px;
  top:149px;
  width:23px;
  height:30px;
}
#u7123 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u7124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:509px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7124 {
  position:absolute;
  left:75px;
  top:200px;
  width:320px;
  height:509px;
}
#u7125 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7126 {
  position:absolute;
  left:75px;
  top:199px;
  width:320px;
  height:204px;
}
#u7127 {
  position:absolute;
  left:2px;
  top:94px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7128 {
  position:absolute;
  left:165px;
  top:180px;
  width:10px;
  height:16px;
}
#u7129 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7130 {
  position:absolute;
  left:113px;
  top:209px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u7132 {
  position:absolute;
  left:85px;
  top:238px;
  width:297px;
  height:1px;
}
#u7133 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CC0000;
}
#u7134 {
  position:absolute;
  left:113px;
  top:249px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#CC0000;
}
#u7135 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u7136 {
  position:absolute;
  left:85px;
  top:278px;
  width:297px;
  height:1px;
}
#u7137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7138 {
  position:absolute;
  left:113px;
  top:289px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u7139 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u7140 {
  position:absolute;
  left:85px;
  top:318px;
  width:297px;
  height:1px;
}
#u7141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7142 {
  position:absolute;
  left:113px;
  top:329px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u7143 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u7144 {
  position:absolute;
  left:85px;
  top:358px;
  width:297px;
  height:1px;
}
#u7145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7146_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u7146 {
  position:absolute;
  left:220px;
  top:238px;
  width:23px;
  height:30px;
}
#u7147 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u7148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7148 {
  position:absolute;
  left:524px;
  top:196px;
  width:250px;
  height:193px;
  font-size:16px;
}
#u7149 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u7150 {
  position:absolute;
  left:77px;
  top:50px;
  width:223px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u7152_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:202px;
}
#u7152 {
  position:absolute;
  left:460px;
  top:284px;
  width:4px;
  height:197px;
}
#u7153 {
  position:absolute;
  left:2px;
  top:90px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7154 {
  position:absolute;
  left:474px;
  top:284px;
  width:22px;
  height:147px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7155 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u7156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:815px;
}
#u7156 {
  position:absolute;
  left:75px;
  top:118px;
  width:375px;
  height:815px;
}
#u7157 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7158_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u7158 {
  position:absolute;
  left:264px;
  top:261px;
  width:20px;
  height:27px;
}
#u7159 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u7160_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u7160 {
  position:absolute;
  left:264px;
  top:375px;
  width:20px;
  height:27px;
}
#u7161 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
