body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  position:absolute;
  left:100px;
  top:127px;
  width:320px;
  height:471px;
}
#u5639 {
  position:absolute;
  left:2px;
  top:228px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u5640 {
  position:absolute;
  left:100px;
  top:108px;
  width:320px;
  height:19px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5642 {
  position:absolute;
  left:100px;
  top:45px;
  width:142px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u5644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5644 {
  position:absolute;
  left:132px;
  top:220px;
  width:38px;
  height:38px;
}
#u5645 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5646 {
  position:absolute;
  left:169px;
  top:220px;
  width:214px;
  height:38px;
}
#u5647 {
  position:absolute;
  left:2px;
  top:11px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5648 {
  position:absolute;
  left:177px;
  top:232px;
  width:151px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u5650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u5650 {
  position:absolute;
  left:140px;
  top:222px;
  width:23px;
  height:33px;
}
#u5651 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5652 {
  position:absolute;
  left:132px;
  top:268px;
  width:38px;
  height:38px;
}
#u5653 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  position:absolute;
  left:169px;
  top:268px;
  width:128px;
  height:38px;
}
#u5655 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u5656 {
  position:absolute;
  left:140px;
  top:274px;
  width:23px;
  height:28px;
}
#u5657 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5658 {
  position:absolute;
  left:177px;
  top:280px;
  width:100px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:39px;
}
#u5660 {
  position:absolute;
  left:296px;
  top:268px;
  width:87px;
  height:38px;
}
#u5661 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u5662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:39px;
}
#u5662 {
  position:absolute;
  left:132px;
  top:371px;
  width:252px;
  height:38px;
}
#u5663 {
  position:absolute;
  left:2px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u5664 {
  position:absolute;
  left:188px;
  top:429px;
  width:178px;
  height:16px;
}
#u5665 {
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5664_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  position:absolute;
  left:516px;
  top:108px;
  width:129px;
  height:33px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5668 {
  position:absolute;
  left:516px;
  top:164px;
  width:319px;
  height:191px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5670 {
  position:absolute;
  left:527px;
  top:407px;
  width:319px;
  height:191px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5671 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
