body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6898 {
  position:absolute;
  left:80px;
  top:98px;
  width:320px;
  height:591px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:288px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6900 {
  position:absolute;
  left:80px;
  top:98px;
  width:320px;
  height:46px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  position:absolute;
  left:121px;
  top:104px;
  width:266px;
  height:30px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:7px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6904 {
  position:absolute;
  left:125px;
  top:109px;
  width:18px;
  height:18px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6906 {
  position:absolute;
  left:84px;
  top:103px;
  width:31px;
  height:30px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6908 {
  position:absolute;
  left:80px;
  top:190px;
  width:160px;
  height:193px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u6910 {
  position:absolute;
  left:86px;
  top:195px;
  width:150px;
  height:119px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6912 {
  position:absolute;
  left:88px;
  top:318px;
  width:144px;
  height:26px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6914 {
  position:absolute;
  left:187px;
  top:341px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6917 {
  position:absolute;
  left:90px;
  top:360px;
  width:87px;
  height:16px;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u6919 {
  position:absolute;
  left:86px;
  top:368px;
  width:92px;
  height:1px;
}
#u6920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6921 {
  position:absolute;
  left:240px;
  top:190px;
  width:160px;
  height:193px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u6923 {
  position:absolute;
  left:245px;
  top:195px;
  width:150px;
  height:119px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6925 {
  position:absolute;
  left:248px;
  top:318px;
  width:144px;
  height:26px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6927 {
  position:absolute;
  left:347px;
  top:341px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6930 {
  position:absolute;
  left:250px;
  top:360px;
  width:87px;
  height:16px;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u6932 {
  position:absolute;
  left:246px;
  top:368px;
  width:92px;
  height:1px;
}
#u6933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6934 {
  position:absolute;
  left:80px;
  top:392px;
  width:160px;
  height:193px;
}
#u6935 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u6936 {
  position:absolute;
  left:86px;
  top:397px;
  width:150px;
  height:119px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6938 {
  position:absolute;
  left:88px;
  top:520px;
  width:144px;
  height:26px;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6940 {
  position:absolute;
  left:187px;
  top:543px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6943 {
  position:absolute;
  left:90px;
  top:562px;
  width:87px;
  height:16px;
}
#u6944 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u6945 {
  position:absolute;
  left:86px;
  top:570px;
  width:92px;
  height:1px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6947 {
  position:absolute;
  left:240px;
  top:392px;
  width:160px;
  height:193px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:88px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:119px;
}
#u6949 {
  position:absolute;
  left:245px;
  top:397px;
  width:150px;
  height:119px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6951 {
  position:absolute;
  left:248px;
  top:520px;
  width:144px;
  height:26px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6953 {
  position:absolute;
  left:347px;
  top:543px;
  width:49px;
  height:35px;
  font-size:36px;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6956 {
  position:absolute;
  left:250px;
  top:562px;
  width:87px;
  height:16px;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u6958 {
  position:absolute;
  left:246px;
  top:570px;
  width:92px;
  height:1px;
}
#u6959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6961 {
  position:absolute;
  left:185px;
  top:143px;
  width:101px;
  height:37px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u6963 {
  position:absolute;
  left:269px;
  top:159px;
  width:10px;
  height:16px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6966 {
  position:absolute;
  left:80px;
  top:143px;
  width:105px;
  height:37px;
}
#u6967 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u6968 {
  position:absolute;
  left:170px;
  top:160px;
  width:11px;
  height:16px;
}
#u6969 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6971 {
  position:absolute;
  left:286px;
  top:143px;
  width:114px;
  height:37px;
}
#u6972 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u6973 {
  position:absolute;
  left:381px;
  top:159px;
  width:11px;
  height:16px;
}
#u6974 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6975 {
  position:absolute;
  left:153px;
  top:111px;
  width:109px;
  height:16px;
  color:#666666;
}
#u6976 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u6977_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u6977 {
  position:absolute;
  left:147px;
  top:137px;
  width:23px;
  height:30px;
}
#u6978 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:509px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6979 {
  position:absolute;
  left:80px;
  top:180px;
  width:320px;
  height:509px;
}
#u6980 {
  position:absolute;
  left:2px;
  top:246px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6981 {
  position:absolute;
  left:80px;
  top:179px;
  width:320px;
  height:204px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:94px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u6983 {
  position:absolute;
  left:170px;
  top:160px;
  width:10px;
  height:16px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6985 {
  position:absolute;
  left:98px;
  top:189px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u6987 {
  position:absolute;
  left:90px;
  top:218px;
  width:80px;
  height:1px;
}
#u6988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CC0000;
}
#u6989 {
  position:absolute;
  left:98px;
  top:229px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#CC0000;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u6991 {
  position:absolute;
  left:90px;
  top:258px;
  width:80px;
  height:1px;
}
#u6992 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6993 {
  position:absolute;
  left:98px;
  top:269px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u6995 {
  position:absolute;
  left:90px;
  top:298px;
  width:80px;
  height:1px;
}
#u6996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6997 {
  position:absolute;
  left:98px;
  top:309px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u6999 {
  position:absolute;
  left:90px;
  top:338px;
  width:80px;
  height:1px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u7001 {
  position:absolute;
  left:141px;
  top:177px;
  width:23px;
  height:30px;
}
#u7002 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7003 {
  position:absolute;
  left:541px;
  top:159px;
  width:250px;
  height:308px;
  font-size:16px;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u7005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u7005 {
  position:absolute;
  left:82px;
  top:30px;
  width:223px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:335px;
}
#u7007 {
  position:absolute;
  left:465px;
  top:264px;
  width:4px;
  height:330px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:157px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7009 {
  position:absolute;
  left:485px;
  top:264px;
  width:23px;
  height:144px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u7011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:187px;
}
#u7011 {
  position:absolute;
  left:174px;
  top:190px;
  width:1px;
  height:186px;
}
#u7012 {
  position:absolute;
  left:2px;
  top:85px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:2px;
}
#u7013 {
  position:absolute;
  left:180px;
  top:186px;
  width:212px;
  height:1px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:2px;
}
#u7015 {
  position:absolute;
  left:180px;
  top:220px;
  width:212px;
  height:1px;
}
#u7016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:2px;
}
#u7017 {
  position:absolute;
  left:180px;
  top:254px;
  width:212px;
  height:1px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:2px;
}
#u7019 {
  position:absolute;
  left:180px;
  top:287px;
  width:212px;
  height:1px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CC0000;
}
#u7021 {
  position:absolute;
  left:203px;
  top:194px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#CC0000;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7023 {
  position:absolute;
  left:203px;
  top:230px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7025 {
  position:absolute;
  left:203px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7027_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u7027 {
  position:absolute;
  left:291px;
  top:177px;
  width:23px;
  height:30px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u7029 {
  position:absolute;
  left:667px;
  top:455px;
  width:0px;
  height:0px;
}
#u7029_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u7029_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:30px;
  height:8px;
}
#u7029_seg2 {
  position:absolute;
  left:18px;
  top:-3px;
  width:8px;
  height:53px;
}
#u7029_seg3 {
  position:absolute;
  left:20px;
  top:42px;
  width:6px;
  height:8px;
}
#u7029_seg4 {
  position:absolute;
  left:13px;
  top:36px;
  width:21px;
  height:20px;
}
#u7030 {
  position:absolute;
  left:-28px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:815px;
}
#u7031 {
  position:absolute;
  left:80px;
  top:98px;
  width:375px;
  height:815px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:400px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:45px;
}
#u7033 {
  position:absolute;
  left:635px;
  top:507px;
  width:331px;
  height:45px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:14px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7035 {
  position:absolute;
  left:651px;
  top:516px;
  width:89px;
  height:26px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u7037 {
  position:absolute;
  left:133px;
  top:261px;
  width:20px;
  height:27px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u7039 {
  position:absolute;
  left:264px;
  top:376px;
  width:20px;
  height:27px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
