body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1967px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1873px;
  height:2515px;
}
#u0 {
  position:absolute;
  left:94px;
  top:100px;
  width:1873px;
  height:2515px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1250px;
  width:1869px;
  visibility:hidden;
  word-wrap:break-word;
}
