body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10142 {
  position:absolute;
  left:100px;
  top:127px;
  width:320px;
  height:471px;
}
#u10143 {
  position:absolute;
  left:2px;
  top:228px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u10144 {
  position:absolute;
  left:100px;
  top:108px;
  width:320px;
  height:19px;
}
#u10145 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u10146 {
  position:absolute;
  left:100px;
  top:45px;
  width:142px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10148 {
  position:absolute;
  left:132px;
  top:220px;
  width:38px;
  height:38px;
}
#u10149 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10150 {
  position:absolute;
  left:169px;
  top:220px;
  width:214px;
  height:38px;
}
#u10151 {
  position:absolute;
  left:2px;
  top:11px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10152 {
  position:absolute;
  left:177px;
  top:232px;
  width:151px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10153 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u10154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u10154 {
  position:absolute;
  left:140px;
  top:222px;
  width:23px;
  height:33px;
}
#u10155 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10156 {
  position:absolute;
  left:132px;
  top:268px;
  width:38px;
  height:38px;
}
#u10157 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10158 {
  position:absolute;
  left:169px;
  top:268px;
  width:128px;
  height:38px;
}
#u10159 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:28px;
}
#u10160 {
  position:absolute;
  left:140px;
  top:274px;
  width:23px;
  height:28px;
}
#u10161 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10162 {
  position:absolute;
  left:177px;
  top:280px;
  width:100px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10163 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:39px;
}
#u10164 {
  position:absolute;
  left:296px;
  top:268px;
  width:87px;
  height:38px;
}
#u10165 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u10166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:39px;
}
#u10166 {
  position:absolute;
  left:132px;
  top:371px;
  width:252px;
  height:38px;
}
#u10167 {
  position:absolute;
  left:2px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u10168 {
  position:absolute;
  left:188px;
  top:429px;
  width:178px;
  height:16px;
}
#u10169 {
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u10168_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10170 {
  position:absolute;
  left:516px;
  top:108px;
  width:129px;
  height:33px;
}
#u10171 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u10172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10172 {
  position:absolute;
  left:516px;
  top:164px;
  width:319px;
  height:191px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10173 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u10174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10174 {
  position:absolute;
  left:100px;
  top:108px;
  width:375px;
  height:667px;
}
#u10175 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10176 {
  position:absolute;
  left:527px;
  top:407px;
  width:319px;
  height:191px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10177 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
