body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3541 {
  position:absolute;
  left:80px;
  top:106px;
  width:320px;
  height:452px;
}
#u3542 {
  position:absolute;
  left:2px;
  top:218px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3543 {
  position:absolute;
  left:80px;
  top:106px;
  width:320px;
  height:51px;
}
#u3544 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3545 {
  position:absolute;
  left:87px;
  top:116px;
  width:31px;
  height:30px;
}
#u3546 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  word-wrap:break-word;
}
#u3547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u3547 {
  position:absolute;
  left:213px;
  top:175px;
  width:58px;
  height:60px;
}
#u3548 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3549 {
  position:absolute;
  left:200px;
  top:122px;
  width:113px;
  height:25px;
  font-size:16px;
}
#u3550 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u3551 {
  position:absolute;
  left:80px;
  top:88px;
  width:320px;
  height:19px;
}
#u3552 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3553 {
  position:absolute;
  left:223px;
  top:210px;
  width:48px;
  height:16px;
  font-size:16px;
}
#u3554 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u3555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3555 {
  position:absolute;
  left:213px;
  top:245px;
  width:61px;
  height:18px;
  font-size:16px;
}
#u3556 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u3557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3557 {
  position:absolute;
  left:213px;
  top:274px;
  width:61px;
  height:18px;
  font-size:16px;
}
#u3558 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u3559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3559 {
  position:absolute;
  left:150px;
  top:501px;
  width:220px;
  height:18px;
  font-size:16px;
}
#u3560 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u3561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u3561 {
  position:absolute;
  left:204px;
  top:321px;
  width:132px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u3562 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
